<body>
  <form action="/links" method = "POST">
    <input type = "text" name = "title" placeholder = "insert link title">
    <input type = "text" name = "url" placeholder = "insert url">
    <input type = "text" name = "tag" placeholder = "insert tag">
    <input type = "submit" value = "Save bookmark">
  </form>

  <form action="/links" method ="GET">
    <input type = "submit" value = "Visit bookmarks">
  </form>
</body>
